.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.totalTasks {
  font-size: 0.875rem;
  color: #a1a1aa;
  font-weight: 500;
  display: flex;
  gap: 6px;
}

.counter {
  color: #ffffff;
  font-weight: 700;
}